body {
    font-family: "Montserrat";
    text-align: center;
}

h1 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat";
    font-weight: 900;
}


/*---------------------------- IDs ----------------------------*/

#title {
    background-color: #FF4c68;
    color: #ffffff;
}

#features {
    padding: 7% 15%;
    text-align: center;
    background-color: #fff;
    position: relative;
}

/*---------------------------- Classes ----------------------------*/


/*---------------------------- Navigation Bar ----------------------------*/

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0px 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Title Image */
.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    z-index: 0;
    right: 30%;
}

@media (max-width:991px) {
    .title-img {
        width: 60%;
        transform: rotate(0deg);
        position: static;
        z-index: 0;
        right: 30%;
    }

    #title {
        text-align: center;
    }

    h2 {
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.5;
    }
}

/* Download Buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* Features */
.fts {
    padding: 5%;
}

.ft-icon {
    color: #ef8172;
    padding-bottom: 1rem;

}

.ft-icon:hover {
    color: #ff4c68;
}


.ft-desc {
    color: #8f8f8f;
}

/* Testimonials */
#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press */
#press {
    text-align: center;
    background-color: #ff4c68;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}


/* Pricing */

#pricing {
    padding: 100px;
    text-align: center;
}

.price-table {
    padding: 3% 2%;
}

/* CTA */

#cta {
    background-color: #FF4c68;
    padding: 7% 14%;
}

.cta-text {

    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
}

/* Footer */

#footer {
    padding: 2%;
}

.social-icon {
    padding: .5rem;
}